@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Variables */
:root {
    /* Colors */
    --color-primary: #ff4400;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #872400;
    --color-dark-variant : #677483;
    --color-background: #f6f6f9;

    /* Border Radius*/
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    /* Padding */
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    /* Shadow */
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 1rem;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/* ---------- Middle Part Starts Here ---------- */
main {
    margin-top: 1.4rem;
    align-items: center;
}

/* ---------- Calendar Starts Here ---------- */
.calendar-container {
    place-content: center;
}

.calendar {
    margin-top: 2.5rem;
    /* margin-left: 1.5rem; */
    height: max-content;
    max-width: 100%;
    background-color: var(--color-white);
    border-radius: var(--border-radius-3);
    padding: var(--card-padding);
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.calendar:hover {
    box-shadow: none;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    height: 50px;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--color-dark-variant);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.calendar-days div {
    width: 50px;
    height: 50px;
    margin-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    cursor: pointer;
    animation: to-top 1000ms forwards;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease;
}

.month-picker:hover {
    background: var(--color-info-light);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
    transition: all 300ms ease;
}

.year-change:hover {
    background: var(--color-info-light);
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-dark);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-dark);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 100ms;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 300ms;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 500ms;
}

.calendar-days div.curr-date {
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-white);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 300ms ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: var(--border-radius-2);
    text-align: center;
    cursor: pointer;
}

.month-list > div > div:hover {
    background: var(--color-info-light);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 100;
    }
}
/* ---------- Calendar Starts Here ---------- */

/* ---------- Right Side Starts Here ---------- */
.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

/* ---------- Media Queries Tablet ---------- */
@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    .calendar-days div {
        margin-left: 1rem;
    }
}

/* ---------- Media Queries Mobile Phone ---------- */
@media screen and (max-width:768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span {
        font-size: 2rem;
    }
}