@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Variables */
:root {
    /* Colors */
    --color-primary: #ff4400;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #872400;
    --color-dark-variant : #677483;
    --color-background: #dedeec;

    /* Border Radius*/
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    /* Padding */
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    /* Shadow */
    --box-shadow: 0 2rem 3rem var(--color-light);
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: poppins, sans-serif;
    background: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/* ---------- Terms and Conditions Starts Here ---------- */
.terms-box {
    max-width: 500px;
    background: var(--color-white);
    padding: 40px 30px;
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
}

.terms-text {
    padding: 0 20px;
    height: 500px;
    overflow-y: auto;
    font-size: 1rem;
    font-weight: 500;
}

.terms-text::-webkit-scrollbar {
    width: 2px;
    background: var(--color-info-light);
}

.terms-text::-webkit-scrollbar-thumb {
    width: 3px;
    background: var(--color-dark);
}

.terms-text h2 {
    text-transform: uppercase;
}

.terms-text b {
    font-size: 1.4rem;
}

.button {
    display: flex;
    padding: 0 20px;
    margin-top: 3rem;
    justify-content: center;
}

.btn {
    height: 35px;
    border: none;
    padding: 0 30px;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    background: var(--color-primary);
    transition: all 300ms ease;
}

.btn:hover {
    background: var(--color-primary-variant);
}